<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd">
        <bean class="com.taobaoke.interceptor.AuthenticationInterceptor" />
<!-- 
<context:component-scan base-package="com.maitian.core.serialize"
		name-generator="com.maitian.core.util.BeanNameGenerator"></context:component-scan>
	<context:component-scan base-package="com.maitian.core.home"
		name-generator="com.maitian.core.util.BeanNameGenerator"></context:component-scan>
	<context:component-scan base-package="com.maitian.core.component"
		name-generator="com.maitian.core.util.BeanNameGenerator"></context:component-scan>
	<context:component-scan base-package="com.maitian.core.interceptor"
		name-generator="com.maitian.core.util.BeanNameGenerator"></context:component-scan> -->
	<!-- <context:component-scan base-package="com.duanluo.passport.home" /> -->
	
	
	<!-- 
	<bean id="jade.dataSource.com.duanluo.passport.dao" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/personal" />
		<property name="username" value="root" />
		<property name="password" value="zhou" />
	</bean> -->
	
	<!-- <bean id="jade.dataSource.com.duanluo.passport.dao" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://106.187.39.152:8066/test" />
		<property name="username" value="root" />
		<property name="password" value="zhouamoeba" />
	</bean> -->
	 
</beans> 
